<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", home_path %>
<%= link_to "Home", root_path %>
<%= link_to "About Us", about_path %>
  <%= link_to "Help", help_path %>
<%= yield %>

</body>
</html>
